@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Standard speed for CryptoTicker */
.animate-marquee {
  display: inline-flex;
  animation: marquee 30s linear infinite;
}

/* Slower version for MarketTicker */
.animate-marquee-slow {
  display: inline-flex;
  animation: marquee 120s linear infinite;
}
html {
  scroll-behavior: smooth;
}
.loginback {
  background-image: url('/sbalogomain.png');
  background-size: cover;
  background-position: center;
}

